.dashboard {
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url(background.png);
}

.builds {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.build {
  color: white;
  width: 400px;
  height: 200px;
  padding: 25px;
  margin: 10px;
  background-color: #2E2E29;
  float: left;
  border-radius: 5px;

  position: relative;
}

.build .progress {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.build .title {
  font-size: 72px;
  line-height: 130px;
  overflow: hidden;
  white-space: nowrap;
}

.build div.meta {
  line-height: 75px;
  display: block;
}

.build div.meta .time {
  font-size: 40px;
  float: left;
}

.build div.meta ol.history {
  overflow: hidden;
  list-style: none;
  list-style-type: none;

  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.build div.meta ol.history li {
  width: 30px;
  height: 40px;
  text-align: center;
  display: inline-block;
}

.builds .success {
  background-color: rgb(0,128,0);
}
.builds .failed {
  background-color: rgb(255,0,0);
}
.builds .running {
  background-color: rgb(0,100,255);
}
.builds .canceled {
  background-color: rgb(70, 70, 70);
}

.footer {
  font-size: 14px;
  color: #666;
  position: fixed;
  bottom: 0;
  right: 0;
}

@keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner:not(:required) {
  -moz-animation: spinner 1250ms infinite linear;
  -webkit-animation: spinner 1250ms infinite linear;
  animation: spinner 1250ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}


/*******************************
Connection status
********************************/

.connection > .overlay-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.8;
}

.connection > .overlay-message {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
  left: 0px;
  color: white;
  text-align: center;
  font-size: 60px;
}
